appdirs==1.4.4
asgiref==3.3.4
autopep8==1.4.4
certifi==2019.3.9
cffi==1.14.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
defusedxml==0.6.0
distlib==0.3.1
Django==3.2
django-allauth==0.39.1
django-cors-headers==3.7.0
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-rest-framework==0.1.0
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
djoser==2.1.0
filelock==3.0.12
gunicorn==20.1.0
idna==2.8
image==1.5.33
itypes==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
oauthlib==3.0.1
pep8==1.7.1
Pillow==8.2.0
pycodestyle==2.5.0
pycparser==2.20
PyJWT==2.0.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.2.4
stripe==2.27.0
uritemplate==3.0.1
urllib3==1.24.2
virtualenv==20.4.3
whitenoise==5.2.0
